#my_account .aside {
  width: 20%;
}
#my_account .section {
  width: 80%;
}
#my_account .aside, #my_account .section {
  padding: 10px;
  float: left;
}
@media (max-width: 768px) {
  #my_account .aside, #my_account .section {
    display: block;
    float: none;
    padding: 2px;
    width: 100%;
  }
}
