@import "vars";
@import "mixins";
#my_account{
	.aside{
		width: 20%;
	}
	.section{
		width: 80%;
	}
	.aside, .section{
		padding: 10px;
		float: left;
		@include apply-to('small'){
			display: block;
			float: none;
			padding: 2px;
			width: 100%;
		}
	}
}
