@import "vars";
@import "mixins";
.login{
	background-color:white;
	border-radius: 5px;
	border: 1px dashed #26AED0;
	box-shadow: 5px 4px 3px #707070;
	transition: .4s;
	padding: 30px;
	margin: 10px auto;
	width: 40%;
	@include apply-to('large'){
		width: 50%;
	}
	@include apply-to('medium'){
		width: 70%;
	}
	@include apply-to('small'){
		width: 100%;
		padding: 10px;
		box-shadow: none;
	}
}
.signup{
	#create_account{
	}
	input[type='file']{
		display: none;
	}
	.avatar{
		position: relative;
		.caption{
			background-color: rgba(99, 103, 114, 0.64);
			bottom: 0px;
			color: white;
			padding: 10px;
			position: absolute;			
			width: 100%;
		}
		img{
			width: 150px;
		}
	}
}